@model Fish
<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
        <div class="col-2">
        <img style="width:100%;" src="~/images/@Model.ProfilePicture"
             class=""
             asp-append-version="true" />        
        </div>
        <div class="col-10">
            <div class="card-body">
                <h4 class="card-title">
                    @Model.Name
                    <span class=" badge-pill badge-primary">
                        <small>@Model.Price.ToString("c")</small>
                    </span>
                </h4>
                <h5 class="card-title">
                    <span class="badge badge-pill badge-dark">
                        <small class="font-italic">@Model.Gender</small>
                    </span>
                </h5>
                <form id="@Model.Id" asp-page="/MyCart" method="post">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" name="returnUrl"
                           value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <div class="card-text p-1">
                        <h6 class="card-subtitle mb-2 text-muted">@Model.Genre</h6>

                        <button type="submit"
                                class="btn btn-warning btn-sm pull-right">
                            Thêm vào giỏ hàng
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>