@model IEnumerable<FishStore.Models.Fish>

@{
    ViewData["Title"] = "Home Page";
}

<h4 class="text-center text-uppercase">Danh Sách Cá Đang Có</h4>

<p>
    <a asp-action="New" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i>Thêm Mới</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Genre)</th>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@item.ProfilePicture"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                    @item.Name
                </td>
                <td>@item.Genre</td>
                <td>@item.Gender</td>
                <td>@item.Price</td>
            </tr>

        }
    </tbody>
</table>